.fontcolorutama{
	color: white;
}

.fontcolorhijau{
	color: #00c438;
}

.resizesetengah {
	max-width: 100%;
	height: auto;
}

.resizegede{
	max-width: 100%;
	height: auto;
}

.resizebanyak{
	max-width: 7%;
	height: auto;
}

.seksi1{
	background-color: #a0cc78;
}

.seksi2{
	background-color: #f4f4f4;
}

.btnmore {
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #ed3330;
	padding: 20px;
	border-radius: 5px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
}

.btnclosing {
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #002a78;
	padding: 20px;
	border-radius: 5px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
}

.btnmore:hover{
	background: #434343;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}

.btnclosing:hover{
	background: #00c438;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}
}